---
interface ContactLink {
  href: string;
  label: string;
  icon: string;
  download?: boolean;
  external?: boolean;
}

interface Props {
  links: ContactLink[];
}

const { links } = Astro.props;
---

<section id="contact">
  <h2>Contact</h2>
  <ul class="contact-links">
    {links.map(({ href, label, icon, download, external }) => (
      <li>
        <a
          href={href}
          tabindex="0"
          download={download ? true : undefined}
          target={external ? '_blank' : undefined}
          rel={external ? 'noopener' : undefined}
        >
          <img src={icon} alt={`${label} icon`} class="icon">
          {label}
        </a>
      </li>
    ))}
  </ul>
</section>
