---
import PostCard from './PostCard.astro';
import { getPublishedPosts } from '../lib/posts';

const recentPosts = (await getPublishedPosts()).slice(0, 3);
---

{recentPosts.length > 0 && (
  <section id="writing">
    <div class="writing-header">
      <h2>Writing</h2>
      <a href="/blog/" class="writing-all">All posts →</a>
    </div>
    <ul class="post-list">
      {recentPosts.map((post) => (
        <li><PostCard entry={post} /></li>
      ))}
    </ul>
  </section>
)}
